html, body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


.shadow {
    box-shadow: 5px 5px  10px rgba(0,0,0,0.6);
    border-radius: 25px;
    margin-top: 50px;
}

.container {
    background: red;
    display: flex;
    width: 900px;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(40, 15px);
    grid-template-rows: repeat(40, 15px);
    grid-gap: 0px;
    border: 5px solid black;
  }
  
  .cell {
     /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: .5rem;
    font-weight: bold;
    background: white;
  }


h1 {
    font-size: 3em;
    color: #fff;
}


.option-panel {
    background: red;
    width: 900px;
    height: 100px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.reset-panel {
    background: red;
    width: 900px;
    height: 100px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.reset-panel button {
    height: 50%;
    background: white;
}

