html, body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.shadow {
    box-shadow: 5px 5px  10px rgba(0,0,0,0.6);
    border-radius: 25px;
    margin-top: 50px;
}

.container {
    background: red;
    display: flex;
    width: 800px;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  /* initialize 40x40 */
  .grid {
    display: grid;
    width: 501px;
    height: 501px;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    margin: 0;
    padding: 0;
    border: 5px solid black;
  }
  
  .cell {
     /* center the cell content */
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: .2rem;
    font-weight: bold;
    background: white;
    margin: 0;
    padding: 0;
    border: 0px;
    float:    none;
    overflow: hidden;
    width:    auto;
  }

h1 {
    font-size: 3em;
    color: #fff;
}

.option-panel {
    background: red;
    width: 800px;
    height: 100px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.top-panel {
    background: red;
    width: 800px;
    height: 100px;
    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    height:100%;
    display: flex;
    align-items: center;
}

.reset button {
    height: 50%;
    background-color: white;
    border: 2px solid black;
    min-width: 80px;
}

.reset button:hover {
    opacity: .9;
}

p {
    margin: 0;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 24px; /* Specified height */
    background: #ffffff; 
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border: 1px black solid;
    margin: 0;
    padding: 0;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: .9; /* Fully shown on mouse-over */
    border: 1px black solid;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0026ff; 
    cursor: pointer; /* Cursor on hover */
    margin: 0;
    padding: 0;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0026ff; 
    cursor: pointer; /* Cursor on hover */
  }

  h1 {
    color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 5em;
  }

  .grid-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .color-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
  }

  .color-options input {
      min-width: 60px;
      margin-bottom: 5px;
      background-color:white;
  }

  footer {
    min-height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-top: auto;
    width: 100%;
    color: #fff;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    padding-right: 5px;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

img {
    width: 50px;
}

img:hover {
    opacity: .9;
}