html, body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}


.shadow {
    box-shadow: 5px 5px  10px rgba(0,0,0,0.6);
    border-radius: 25px;
    margin-top: 50px;
}

.container {
    background: red;
    display: flex;
    width: 900px;
    justify-content: center;
  }
  
  /* 40x40 */
  .grid {
    display: grid;
    min-width: 610px;
    max-width: 610px;
    width: 610px;
    height: 610px;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
    grid-gap: 0px;
    border: 5px solid black;

  }
  
  .cell {
     /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: .5rem;
    font-weight: bold;
    background: white;
  }

h1 {
    font-size: 3em;
    color: #fff;
}

.option-panel {
    background: red;
    width: 900px;
    height: 100px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.reset-panel {
    background: red;
    width: 900px;
    height: 100px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-panel button {
    height: 50%;
    background: white;
}

p {
    margin: 0;
}

.color-options {
    /* background: green; */
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ececec; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0026ff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0026ff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }